title: Body, Mind, and Molly
thumbnail: /static/images/body-mind-molly-thumbnail.jpg
tags: Lead Developer, Designer, Photographer, Copywriter
date: 12-05-2014

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<img class="featured 2x" src="{% static '/images/body-mind-molly-home.jpg' %}"/>

Molly McDonald does massage therapy instruction for couples and baby massage instruction for moms-to-be. This was the first non-school project that I was 100% responsible for, so I took it very seriously and learned a lot. <a href="http://scratchtheme.com" target="_blank">Scratch</a> was really born from this site.

![Body, Mind, and Molly Call to Action](/static/images/body-mind-molly-cta.png)

I utilized the popular Gravity Forms plugin for WordPress to create beautiful calls to action that integrate seamlessly with MailChimp. (On the actual website, that image flips horizontally at a breakpoint, which I thought was pretty nifty. Shrink your window and you'll see what I mean.)

![Body, Mind, and Molly Feature Row](/static/images/body-mind-molly-feature.png)

I tied the feature rows' images in with her logo, creating a tight and professional look across the site.

![Body, Mind, and Molly Icons](/static/images/body-mind-molly-icons.png)

This was the first time that I plugged a WordPress loop into a CSS grid. Out of this <a href="http://scratchtheme.com/docs/advanced/#layout-functions" target="_blank">Layout Functions</a> were born.

<a href="http://bodymindandmolly.com" target="_blank">View the website here.</a>

{% endfilter %}
{% endblock body %}