title: Boyd and Company Construction
thumbnail: /static/images/boyd-and-company-thumbnail.jpg
tags: Technical Manager, Lead Developer
date: 06-11-2015

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<img class="featured 2x" src="{% static '/images/boyd-and-company.jpg' %}"/>

This project was a real treat because of the design budget. We didn't have the limits we usually have on projects, so we were able to spend extra hours perfecting the CSS and optimizing things. There's a beautiful background video on the home page, and making the navigation menu look nice on top of it was a lot of fun.

![Boyd and Company Home Page](/static/images/boyd-and-company-home.png)

One of the requests unique to this client was the addition of a stock ticker to the site's header. I had no idea if we could deliver on this request, but it turns out we found a pretty good WordPress plugin that did the job. After activating it, it was just a matter of adding the right CSS to make it consistent with the rest of the header.

![Boyd and Company Divisions Section](/static/images/boyd-and-company-divisions1.png)

As you scroll down the home page, you see the _Divisions_ section. Our designer did a great job with this area and came up with the whole concept for the hover effect. The individual _Divisions_ pages are equally beautiful.

[View the website here.](https://www.boydandcompany.com)

{% endfilter %}
{% endblock body %}