title: Necter
thumbnail: /static/images/necter-thumbnail.jpg
tags: Technical Manager, Project Manager
date: 21-09-2015

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<img class="featured 2x" src="{% static '/images/necter.jpg' %}"/>

Necter provides a service that allows groups of friends to connect to other groups of friends. Through a simple process of adding friends and filtering groups, you can find like-minded people in locations near you.

We used Ionic and Firebase to build Necter, an HTML5 hybrid mobile app that is currently available for iOS and Android.

Features include geolocation, native camera capabilities, push notifications, in-app real-time messaging, and more.

{% endfilter %}
{% endblock body %}
