title: SmarterHQ
thumbnail: /static/images/smarter-thumbnail-v2.jpg
tags: Technical Manager, Project Manager, Lead Developer
date: 27-03-2015

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<img class="featured 2x" src="{% static '/images/smarterhq.jpg' %}"/>

I worked closely with SmarterHQ's in-house design team to build this site. They provided me with Illustrator mockups and I coded them to exact specification. I also worked with their site administrators to streamline the CMS for them.

![SmarterHQ Blog](/static/images/smarterhq-blog-small.png)

One of my favorite parts is the blog. We made it much more image-focused than their previous one. I love the card look and the tile layout. They can add full-width image or background video banners to promote their latest and greatest.

<a href="http://smarterhq.com" target="_blank">View the website here.</a>

{% endfilter %}
{% endblock body %}
