/* Reset */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clearfix */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Spacing */
.post h2,
.post h3,
.post h4,
.post p,
.post ul {
  max-width: 600px;
  margin: 0 auto 5px;
}

.post p {
  margin-bottom: 20px;
}

.post img {
  margin: 40px auto;
  position: relative;
  max-width: 800px;
  width: 100%;
}

.post img + img {
  margin-top: -20px;
}

/* Base */
body,
html {
  min-height: 100%;
}

body {
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  position: relative;
}

/* Link to Documentation */
#docs,
#docs-mobile {
  background: #5badf0;
  color: #fff;
  padding: 8px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.35;
  border-radius: 3px;
}

#docs {
  position: fixed;
  top: 8px;
  right: 6px;
  z-index: 100;
}

#docs-mobile {
  display: none;
  text-align: center;
  margin: 0 auto 20px;
}

@media screen and (max-width: 440px) {
  a#docs {
    display: none;
  }

  #docs-mobile {
    display: inline-block;
  }
}

#wrapper {
  max-width: 880px;
  margin: 0 auto;
  padding: 100px 40px;
}

#wrapper.post {
  max-width: 880px;
}

#header {
  border-bottom: 1px solid #eee;
}

img {
  max-width: 100%;
}

#thumbnails {
  margin: 60px auto 0;
  text-align: center;
}

#thumbnails a {
  width: 49%;
  float: left;
  position: relative;
}

#thumbnails a {
  margin-right: 2%;
  margin-top: 2%;
}

#thumbnails a:nth-child(1),
#thumbnails a:nth-child(2) {
  margin-top: 0;
}

#thumbnails a:nth-child(2n) {
  margin-right: 0;
}

#thumbnails a,
#thumbnails a span {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#thumbnails a img {
  display: block;
  background: #fff;
  width: 100%;
  height: auto;
}

#thumbnails a span {
  color: #999;
  display: inline-block;
  display: none;
  font-size: 15px;
  font-weight: 400;
  margin: 20px 0;
}

#thumbnails a:hover {
  opacity: 0.85;
}

#thumbnails a:hover span {
  opacity: 1;
  visibility: visible;
}

#footer {
  box-shadow: inset 0 1px 0 #eee;
  padding: 40px 0 0;
  margin-top: 100px;
  position: relative;
}

#footer p {
  float: left;
}

/* Made with Cactus Badge */
#badge {
  position: absolute;
  bottom: 8px;
  right: 8px;
  height: 48px;
  width: 48px;
}

/* Type */
/* Accent color */
a {
  text-decoration: none;
  color: #5694f1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: circle;
  list-style-position: inside;
}

/* Line Height */
.post-body,
p {
  line-height: 1.7;
}

h1 {
  display: inline-block;
  line-height: 100%;
  color: #222;
  font-weight: 500;
  font-size: 19px;
  margin: 0;
  padding-bottom: 20px;
}

h3 {
  font-size: 13px;
  font-weight: bold;
  color: #222;
  margin-bottom: 6px;
}

h4 {
  font-size: 13px;
  font-weight: bold;
  color: #666;
  margin-bottom: 6px;
}

p.small {
  color: #bbb;
  font-size: 14px;
  line-height: 1.5;
  display: block;
}

/* Post Page */
#header {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.post {
  margin-bottom: 60px;
}

#post-meta {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 40px;
  padding-top: 40px;
  border-top: 1px solid #eee;
  color: #444;
}

@media (min-width: 768px) {
  #post-meta div {
    display: inline-block;
  }
}

#post-meta div span {
  color: #aaa;
  display: block;
  margin-bottom: 2px;
}

#post-meta div.date {
  font: 300 20px/1.8 "Helvetica Neue",helvetica,Arial,sans-serif;
  color: #aaa;
}

@media (min-width: 768px) {
  #post-meta div.date {
    float: right;
    text-align: right;
    position: relative;
    top: 1px;
  }
}

#sharing {
  float: right;
  margin: -2px;
}

#sharing a {
  font-size: 23px;
  margin-left: 2px;
  margin-top: 4px;
  color: #d4d4d4;
  display: inline-block;
  vertical-align: middle;
}

#sharing a:hover {
  color: #444;
}

/* Post Navigation */
#post-nav {
  border-top: 1px solid #eee;
  text-align: center;
  padding-top: 20px;
  font-size: 13px;
  font-weight: 500;
}

#post-nav span {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  position: relative;
}

#post-nav span.prev {
  float: left;
}

#post-nav span.next {
  float: right;
}

#post-nav span.prev:hover {
  left: -3px;
}

#post-nav span.next:hover {
  right: -3px;
}

@media screen and (max-width: 540px) {
  #wrapper {
    padding: 20px 40px;
  }

  #header {
    margin-bottom: 40px;
  }

  h1 {
    font-size: 17px;
  }

  #footer {
    margin-top: 40px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 440px) {
  #thumbnails a:nth-child(n) {
    width: 100%;
    max-width: 300px;
    margin: 20px auto 0;
    display: inline-block;
    float: none;
  }

  #thumbnails a:first-child {
    margin-top: 0;
  }

  #header {
    text-align: center;
    margin-bottom: 0;
  }

  #wrapper {
    padding: 20px 20px 40px;
  }

  .post {
    margin-bottom: 40px;
  }

  #footer {
    text-align: center;
    padding-bottom: 15px;
  }
}

/* Zack styles */
#title .avatar {
  width: 80px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px;
}

header h1 {
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 0;
}

#title,
#title h1,
#title:hover {
  text-decoration: none;
  color: #5694f1;
}

.header-description {
  font: normal 17px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #aaa;
  margin: 1em 0;
}

ion-icon {
  font-size: 22px;
}

img {
  border-radius: 4px;
}

#wrapper {
  max-width: 700px;
}

.post .header-description {
  max-width: 100%;
  margin: 1em auto;
}

em,
i {
  font-style: italic;
}

.post-title {
  font-size: 30px;
  color: #222;
  font-weight: 900;
  padding-bottom: 0;
  margin: 40px 0;
  text-align: center;
  display: block;
}

.post-title + img {
  margin-top: 0;
}

.small-container {
  margin: 0 auto;
  max-width: 400px;
}

.post-body img {
  max-width: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#header {
  text-align: center;
  max-width: 300px;
  margin: 0 auto 20px;
  padding-bottom: 20px;
}

.post #header {
  max-width: 300px;
}

#footer {
  text-align: center;
}

#footer p {
  float: none;
}

.oneline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post h2 {
  font: 400 18px/1.7em "Helvetica Neue",Helvetica,Arial,sans-serif;
}

hr {
  display: block;
  border: none;
  height: 3px;
  margin: 40px auto;
  background: #f4f4f4;
}
